.cardform{
    margin-top: 150px;
    height: 600px;
    width: 850px;
    margin-left: 400px;
}

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of viewport */
    padding: 20px; /* Add some padding for aesthetic */
}

.form-control{
    width: 800px;
    height: 10px;
    resize: none;
}

.form-check-area1{
    margin-top: 40px;
}